@font-face {
  font-family: 'SFMono';
  src: url('/fonts/assets/SFMono-Regular.eot');
  src: url('/fonts/assets/SFMono-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/assets/SFMono-Regular.woff2') format('woff2'),
      url('/fonts/assets/SFMono-Regular.woff') format('woff'),
      url('/fonts/assets/SFMono-Regular.ttf') format('truetype'),
      url('/fonts/assets/SFMono-Regular.svg#SFMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFMono';
  src: url('/fonts/assets/SFMono-Medium.eot');
  src: url('/fonts/assets/SFMono-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/assets/SFMono-Medium.woff2') format('woff2'),
      url('/fonts/assets/SFMono-Medium.woff') format('woff'),
      url('/fonts/assets/SFMono-Medium.ttf') format('truetype'),
      url('/fonts/assets/SFMono-Medium.svg#SFMono-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFMono';
  src: url('/fonts/assets/SFMono-Semibold.eot');
  src: url('/fonts/assets/SFMono-Semibold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/assets/SFMono-Semibold.woff2') format('woff2'),
      url('/fonts/assets/SFMono-Semibold.woff') format('woff'),
      url('/fonts/assets/SFMono-Semibold.ttf') format('truetype'),
      url('/fonts/assets/SFMono-Semibold.svg#SFMono-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFMono';
  src: url('/fonts/assets/SFMono-Bold.eot');
  src: url('/fonts/assets/SFMono-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/assets/SFMono-Bold.woff2') format('woff2'),
      url('/fonts/assets/SFMono-Bold.woff') format('woff'),
      url('/fonts/assets/SFMono-Bold.ttf') format('truetype'),
      url('/fonts/assets/SFMono-Bold.svg#SFMono-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/assets/SFProText-Regular.eot');
  src: url('/fonts/assets/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/assets/SFProText-Regular.woff2') format('woff2'),
      url('/fonts/assets/SFProText-Regular.woff') format('woff'),
      url('/fonts/assets/SFProText-Regular.ttf') format('truetype'),
      url('/fonts/assets/SFProText-Regular.svg#SFProText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/assets/SFProText-Semibold.eot');
  src: url('/fonts/assets/SFProText-Semibold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/assets/SFProText-Semibold.woff2') format('woff2'),
      url('/fonts/assets/SFProText-Semibold.woff') format('woff'),
      url('/fonts/assets/SFProText-Semibold.ttf') format('truetype'),
      url('/fonts/assets/SFProText-Semibold.svg#SFProText-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/assets/SFProText-Medium.eot');
  src: url('/fonts/assets/SFProText-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/assets/SFProText-Medium.woff2') format('woff2'),
      url('/fonts/assets/SFProText-Medium.woff') format('woff'),
      url('/fonts/assets/SFProText-Medium.ttf') format('truetype'),
      url('/fonts/assets/SFProText-Medium.svg#SFProText-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/assets/SFProText-Bold.eot');
  src: url('/fonts/assets/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/assets/SFProText-Bold.woff2') format('woff2'),
      url('/fonts/assets/SFProText-Bold.woff') format('woff'),
      url('/fonts/assets/SFProText-Bold.ttf') format('truetype'),
      url('/fonts/assets/SFProText-Bold.svg#SFProText-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
